@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
.font-inter {
  font-family: var(--font-inter);
}
.HowItsWork_wrapper{
  background: 
    linear-gradient(#01180671, #b6b5ff10), 
    url('/howItsWork.png');
  background-size: cover;
  background-position: center;
}
.swiper-button-prev,
.swiper-button-next{
  background: #ffffff66;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  box-shadow: 0 0 5px 0 #64646481;
}
.swiper-button-prev svg,
.swiper-button-next svg{
  color: #686868;
  background: #00000000;
}

/* %%%%%%%%%%%%%% */
.step_Indicator{
  width: fit-content;
  position: relative;
  font-size: 24px;
}
.step_Indicator::before{
  content: "";
  position:absolute;
  top: 50%;
  right:110%;
  width: 70%;
  height: 4px;
  background-color: #000000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateY(-50%);
}
.step_Indicator::after{
  content: "";
  position:absolute;
  top: 50%;
  left:110%;
  width: 70%;
  height: 4px;
  background-color: #000000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-50%);
}
/* ====footer===== */
.footerMenuList{
  @apply flex flex-col gap-2;
}
.lengthIndicator {
    transform: translate(-50%, -50%); 
}
.lengthIndicator::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  width: 100%;
  height: 5px;
  transform: translateY(-50%);
  background-color: yellow;
}
.lengthIndicator::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  height: 5px;
  transform: translateY(-50%);
  background-color: yellow;
}


.corner_angle_0, .corner_angle_1, .corner_angle_2, .corner_angle_3 {
    position: absolute;
    padding: 8px 7px;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 12px;
    color: #ffffff;
    background: #77777700;
}
.corner_angle_0 {
    top: 0px;
    left: 0px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.corner_angle_1 {
    top: 0px;
    right: 0px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.corner_angle_2 {
    bottom: 0px;
    right: 0px;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}
.corner_angle_3 {
    bottom: 0px;
    left: 0px;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

.rectangle_with_radious_0, .rectangle_with_radious_1, .rectangle_with_radious_2, .rectangle_with_radious_3 {
  position: absolute;
  padding: 8px 7px;
  border: 1px solid red;
}
.rectangle_with_radious_0{
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}